
@media only screen and (min-width: 768px) {
  .categoryre {
    justify-content: center;
  }
}
.categoryre{
  display: flex;
  margin-top: 50px;
}
.imgbrd{
  max-width: 90%;
  height: 150px;
  border-radius:50px;
}
.cart-icon {
  position: fixed;
  z-index: 10000;
  bottom: 20px;
  right: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cart-icon2 {
  position: fixed;
  z-index: 10000;
  bottom: 100px; /* Ajusta esta posición para que esté debajo de .cart-icon */
  right: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.sidebarSales {
    /* background-color: rgba(255, 104, 17, 0.9); */ /* Cambié el color a un tono ligeramente más claro */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agregué una sombra para suavizar los bordes */
  }
  
  .sidebarSales a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px; /* Reduje el tamaño del texto */
  }
  .sidebarSales a:hover {
    opacity: 0.8;
  }
  .sidebarSales-footer {
    margin: 10px; /* Empuja el footer al fondo del sidebarSales */
  }
  .sidebarSales-footer-logout {
    margin-top: auto; /* Empuja el footer al fondo del sidebarSales */
  }
  .top-cart-item-image{
    width:40px;
    height: 40px;
  }
  .imgContainer button {
    background-color: #f44336; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Forma redondeada */
    padding: 5px; /* Espaciado interno */
    cursor: pointer; /* Cursor de puntero */
    bottom: 50px;
    top: 5px; /* Alineación superior */
    right: 5px; /* Alineación derecha */
}
/* Estilos para el campo de entrada de la cantidad */
.imgContainer input[type="text"] {
    width: 30px;
    margin-top: 5px;
    background-color: transparent;
    border-color: transparent;
}
.imgContainer {
  display: flex;
  flex-direction:column;
}
.top-cart-number {
	display: block;
	position: absolute;
	top: -7px;
	left: auto;
	right: -8px;
	font-size: 0.625rem;
	color: #FFF;
	width: 1.125rem;
	height: 1.125rem;
	line-height: 1.125rem;
	text-align: center;
	border-radius: 50%;
	z-index: 1;
	overflow: hidden;
}

.top-cart-number::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f44336;
	opacity: 0.8;
	z-index: -1;
}
.cardSale{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);  
}
.follow-container {
  text-align: center;
  padding: 20px;
}

.status-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.animate {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.order-summary {
  margin-top: 30px;
  text-align: left;
  padding: 0 20px;
}

.order-summary h3 {
  margin-bottom: 10px;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
}

.order-summary li {
  margin-bottom: 5px;
}

.order-summary h4 {
  margin-top: 10px;
  font-weight: bold;
}  