.navbar {
  background-color: #ff6811;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px !important;
  position: fixed !important;
  bottom: 0;
  left: 0 !important;
  right: 0 !important;
  z-index: 999 !important;
  flex-direction: column;
  flex-wrap: wrap;
}

.navbar-item {
  color: white;
  margin-right: 100px;
  text-decoration: none;
}

.navbar-item:hover {
  opacity: 0.8;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.sidebar {
  background-color: rgba(255, 104, 17, 0.9); /* Cambié el color a un tono ligeramente más claro */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agregué una sombra para suavizar los bordes */
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px; /* Reduje el tamaño del texto */
}

.sidebar a:hover {
  opacity: 0.8;
}
.sidebar-footer {
  margin: 20px; /* Empuja el footer al fondo del sidebar */
}
.sidebar-footer-logout {
  margin-top: auto; /* Empuja el footer al fondo del sidebar */
}