
@media only screen and (min-width: 768px) {
  .navbar-item {
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
  }
}
.navbar {
  height: 8%;
  background-color: #ff6811;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  position: fixed !important;
  bottom: 0;
  left: 0 !important;
  right: 0 !important;
  z-index: 999 !important;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: auto; 
}

.navbar-item {
  color: white;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  text-decoration: none;
}

.navbar-item:hover {
  opacity: 0.8;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar-start{
  display: flex;
}
.sidebarInter {
  background-color: rgba(255, 104, 17, 0.9); /* Cambié el color a un tono ligeramente más claro */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  z-index: 9999;
  overflow-y: auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agregué una sombra para suavizar los bordes */
}

.sidebarInter a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px; /* Reduje el tamaño del texto */
}

.sidebarInter a:hover {
  opacity: 0.8;
}
.sidebarInter-footer {
  margin: 20px; /* Empuja el footer al fondo del sidebarInter */
}
.sidebarInter-footer-logout {
  margin-top: auto; /* Empuja el footer al fondo del sidebarInter */
}