html, body {
  height: 100%;
  margin: 0;
}

.register-b {
  background-image: url('../../assets/registerbg.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center bottom 55%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.register-box {
  margin: 10px;
  border-color: #141414 !important;
  border-radius: 20px !important;
  animation: slide-up 0.5s ease-out forwards;
}

.card {
  border: none;
  border-radius: 50px;
  box-shadow: 0 20px 20px rgba(0,0,0,.1) !important;
  overflow: hidden;
}

.card-header {
  padding: 50px !important;
  border-radius: 50px;
  color: #ff6811 !important;
  text-align: center;
}

.card-body {
  padding: 30px !important;
  text-align: center;
}

.card-footer {
  padding: 20px !important;
  text-align: center;
}

.card-price {
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
}

.btn-signup {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  font-size: 1em;
  font-weight: bold;
}
.btn-registerN{
    color: black !important;
    border-color: black !important;
    
}
.btn-registerN:hover{
  color: #ffffff !important;
  background-color:black !important;;
}
hr{
  color:#ff6811 !important;;
}
@media (max-width: 768px) {
  .register-box {
    width: 100%;
    margin: 10px 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.register-form {
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60%;
  max-width: 500px;
  padding: 20px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  animation: slide-up 0.5s ease-out forwards;
}

.register-form.animate-down {
  animation: slide-down 0.5s ease-out forwards;
}

.form-header {
  display: flex;
  align-items: center;
}
.btn-back {
  background-color: #ff6811;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #e65c10;
}
